body {
    margin: 0;
    padding: 0;
    background-color: #ffb6cc;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    cursor: default;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: default;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.loginbox input[type = "text"], input[type = "password"]
{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ec6f94;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #078ab3;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #078ab3;
}




